Repository eniblock/build: changes, and which GitLab CI jobs are due for each by the changed paths.
All: docker, helm, deploy

.gitlab-ci.yml:

stages:
  - publish

image:
  name: registry.gitlab.com/the-blockchain-xdev/xdev-product/build-images/docker:1.4.0

docker:
  stage: publish
  script:
    - echo $CI_REGISTRY_PASSWORD | docker login -u $CI_REGISTRY_USER  --password-stdin $CI_REGISTRY
    - build $CI_REGISTRY_IMAGE/docker docker
  only:
    changes:
      - .gitlab-ci.yml
      - docker/**/*
      - docker/*

helm:
  stage: publish
  script:
    - echo $CI_REGISTRY_PASSWORD | docker login -u $CI_REGISTRY_USER  --password-stdin $CI_REGISTRY
    - build $CI_REGISTRY_IMAGE/helm helm
  only:
    changes:
      - .gitlab-ci.yml
      - helm/**/*
      - helm/*

deploy:
  stage: publish
  script:
    - echo $CI_REGISTRY_PASSWORD | docker login -u $CI_REGISTRY_USER  --password-stdin $CI_REGISTRY
    - build $CI_REGISTRY_IMAGE/deploy deploy
  only:
    changes:
      - .gitlab-ci.yml
      - deploy/**/*
      - deploy/*

update readme
  README.md
Due: none

apache 2 license
  LICENSE
Due: none

fix image syntax
  .gitlab-ci.yml
Due: docker, helm, deploy

don't show the rate limit
  deploy/dockerhublogin
  docker/dockerhublogin
Due: docker, deploy

tag X.Y.Z also as X.Y
  docker/build
  docker/build_with_helm_tag
  docker/build_with_pipeline_id
Due: docker

use develop image to run the tag build
  .gitlab-ci.yml
Due: docker, helm, deploy

buildkit supports only one --output
  docker/build
  docker/build_with_helm_tag
  docker/build_with_pipeline_id
Due: docker

fix missing quotes
  docker/build
Due: docker

update helm v3.6.3
  deploy/Dockerfile
  helm/Dockerfile
Due: helm, deploy

force docker login to stderr
  deploy/dockerhublogin
  docker/dockerhublogin
Due: docker, deploy

update terraform v1.0.5
  deploy/Dockerfile
Due: deploy

add deploy init script
  deploy/Dockerfile
  deploy/init
Due: deploy

rename init in deploy_init to avoid conflicts with system's init
  deploy/Dockerfile
  deploy/deploy_init
Due: deploy

fix missing /
  deploy/Dockerfile
Due: deploy

stop when a command fails
  deploy/deploy_init
Due: deploy

more quiet curl while downloading terraform
  deploy/Dockerfile
Due: deploy

fix quoted command
  deploy/deploy_init
Due: deploy

IT-96 don't use NodePort service type
  helm/kube-linter.yaml
Due: helm

add non-isolated-pod check
  helm/Dockerfile
  helm/kube-linter.patch
  helm/kube-linter.yaml
Due: helm

don't use default workspace as testing
  deploy/deploy_init
Due: deploy

more useful error message when running from a non protected branch
  deploy/deploy_init
Due: deploy

avoid kubectl warning about kubeconfig permissions
  deploy/deploy_init
Due: deploy

add yamllint in the linter script
  helm/Dockerfile
  helm/lint
  helm/yamllint.yaml
Due: helm

display kubeval errors in red
  helm/lint
Due: helm

fix bat line wraping
  helm/lint
Due: helm

add yamllint in the linter script
  helm/lint
Due: helm

Revert "display kubeval errors in red"
  helm/lint
Due: helm

use script command to get color output anyway
  helm/Dockerfile
  helm/lint
Due: helm

show the helm template output in case yamllint output is not empty
  helm/lint
Due: helm

add build script to publish to standard helm repository
  helm/Dockerfile
  helm/build_std
Due: helm

allow to not patch version
  helm/build
  helm/build_std
Due: helm

fix check
  helm/build
  helm/build_std
Due: helm

disable trailing spaces check
  helm/yamllint.yaml
Due: helm

better version patching logic
  helm/Dockerfile
  helm/build
  helm/build_std
Due: helm

always patch the chart version
  helm/build
  helm/build_std
Due: helm

let the user chose the release name
  helm/lint
Due: helm

Use the official release of kube-linter instead of building our own patched version
  helm/Dockerfile
Due: helm

Bump helm version to 3.8.1 to access subcharts scope in parent
  deploy/Dockerfile
  helm/Dockerfile
Due: helm, deploy

fix: helm/Dockerfile to reduce vulnerabilities
  helm/Dockerfile
Due: helm
