Repository eniblock/build: changes, and which GitLab CI jobs are due for each by the changed paths.
All: docker, helm, deploy

docker:
  stage: publish
  script:
  - docker login -u $DOCKER_HUB_USER -p $DOCKER_HUB_PASSWORD
  - build tbxdev/build-docker docker

helm:
  stage: publish
  script:
  - docker login -u $DOCKER_HUB_USER -p $DOCKER_HUB_PASSWORD
  - build tbxdev/build-helm helm

deploy:
  stage: publish
  script:
  - docker login -u $DOCKER_HUB_USER -p $DOCKER_HUB_PASSWORD
  - build tbxdev/build-deploy deploy

use a tagged version of the build image
  .gitlab-ci.yml
Due: docker, helm, deploy

add jq in the deploy image
  deploy/Dockerfile
Due: deploy

use gitlab registry
  .gitlab-ci.yml
Due: docker, helm, deploy

fix gitlab registry login
  .gitlab-ci.yml
Due: docker, helm, deploy

switch to gitlab registry for the build image
  .gitlab-ci.yml
Due: docker, helm, deploy

update readme
  README.md
Due: none

add kube-linter to the helm image
  helm/Dockerfile
Due: helm

use kubeliter with --values and imagePullPolicy extra features
  helm/Dockerfile
Due: helm

add lint config and shortcup script
  helm/Dockerfile
  helm/kube-linter.yaml
  helm/lint
Due: helm

add more useful rules
  helm/kube-linter.yaml
Due: helm

don't use kube-linter's helm support
  helm/lint
Due: helm

login to docker hub to avoid rate limits
  docker/Dockerfile
  docker/entrypoint.sh
Due: docker

build with our own image
  .gitlab-ci.yml
Due: docker, helm, deploy

force the entrypoint
  .gitlab-ci.yml
Due: docker, helm, deploy

display rate limit in the job
  .gitlab-ci.yml
  docker/entrypoint.sh
Due: docker, helm, deploy

don't use entrypoint
  .gitlab-ci.yml
  docker/Dockerfile
  docker/build
  docker/build_with_helm_tag
  docker/build_with_pipeline_id
  docker/dockerhublogin
  docker/entrypoint.sh
Due: docker, helm, deploy

show the content of dockerhublogin
  .gitlab-ci.yml
Due: docker, helm, deploy

force the sha image
  .gitlab-ci.yml
Due: docker, helm, deploy

use dockerhublogin as an entry point
  .gitlab-ci.yml
  docker/Dockerfile
  docker/build
  docker/build_with_helm_tag
  docker/build_with_pipeline_id
  docker/dockerhublogin
Due: docker, helm, deploy

use the last build image
  .gitlab-ci.yml
Due: docker, helm, deploy

show docker config
  .gitlab-ci.yml
Due: docker, helm, deploy

run dockerhublogin explicitly
  .gitlab-ci.yml
Due: docker, helm, deploy

actually make curl silent
  docker/dockerhublogin
Due: docker

update image
  .gitlab-ci.yml
Due: docker, helm, deploy

more debug info
  .gitlab-ci.yml
Due: docker, helm, deploy

can't get dockerhublogin to run as an entrypoint on the runner
  .gitlab-ci.yml
  docker/Dockerfile
  docker/build
  docker/build_with_helm_tag
  docker/build_with_pipeline_id
Due: docker, helm, deploy

show dockerhublogin content
  .gitlab-ci.yml
Due: docker, helm, deploy

disable build cache
  .gitlab-ci.yml
Due: docker, helm, deploy

actually make curl silent
  .gitlab-ci.yml
  docker/dockerhublogin
Due: docker, helm, deploy

avoid docker warning
  .gitlab-ci.yml
  docker/dockerhublogin
Due: docker, helm, deploy

add dockerhublogin in deploy image
  deploy/Dockerfile
  deploy/dockerhublogin
Due: deploy

dockerhublogin in klbdpp
  deploy/dockerhublogin
  deploy/kbldpp
  docker/dockerhublogin
Due: docker, deploy

fix build image
  .gitlab-ci.yml
Due: docker, helm, deploy

use the last tagged image for the build
  .gitlab-ci.yml
Due: docker, helm, deploy

Path conditions:
  docker: any of: .gitlab-ci.yml, docker/**/*, docker/*
  helm: any of: .gitlab-ci.yml, helm/**/*, helm/*
  deploy: any of: .gitlab-ci.yml, deploy/**/*, deploy/*
