Repository eniblock/build: changes, and which GitLab CI jobs are due for each by the changed paths.
All: docker, helm, deploy

.gitlab-ci.yml:

stages:
  - publish

image:
  name: $CI_REGISTRY_IMAGE/docker:1.5.0

docker:
  stage: publish
  script:
    - echo $CI_REGISTRY_PASSWORD | docker login -u $CI_REGISTRY_USER  --password-stdin $CI_REGISTRY
    - build $CI_REGISTRY_IMAGE/docker docker
  only:
    changes:
      - .gitlab-ci.yml
      - docker/**/*
      - docker/*

helm:
  stage: publish
  script:
    - echo $CI_REGISTRY_PASSWORD | docker login -u $CI_REGISTRY_USER  --password-stdin $CI_REGISTRY
    - build $CI_REGISTRY_IMAGE/helm helm
  only:
    changes:
      - .gitlab-ci.yml
      - helm/**/*
      - helm/*

deploy:
  stage: publish
  script:
    - echo $CI_REGISTRY_PASSWORD | docker login -u $CI_REGISTRY_USER  --password-stdin $CI_REGISTRY
    - build $CI_REGISTRY_IMAGE/deploy deploy
  only:
    changes:
      - .gitlab-ci.yml
      - deploy/**/*
      - deploy/*

oci registry updated the command locations in while going out of experimental
  deploy/Dockerfile
  helm/Dockerfile
  helm/build
Due: helm, deploy

fix oci images usage
  helm/build
Due: helm

fix missing name variable
  helm/build
Due: helm

fix missing remote scheme
  helm/build
Due: helm

helm no more require the version in the image
  helm/build
Due: helm

helm no more require the package name in the image
  helm/build
Due: helm

revert to kube-linter 0.2.5
  helm/Dockerfile
Due: helm

add helm_version script
  deploy/Dockerfile
  deploy/helm_version
Due: deploy

disable indentation check
  helm/yamllint.yaml
Due: helm

add earthly image
  .gitlab-ci.yml
  earthly/Dockerfile
  earthly/earthly-entrypoint.sh
  earthly/tag-opts
Due: docker, helm, deploy

remove debug messages
  earthly/earthly-entrypoint.sh
Due: none

add get-tag to easily get the tag to use during the deployment
  deploy/get-tag
Due: deploy

remove debug messages
  deploy/get-tag
  earthly/tag-opts
Due: deploy

add missing get-tag in the deploy image
  deploy/Dockerfile
Due: deploy

fix extra -- in tags
  deploy/get-tag
Due: deploy

Add gke-gcloud-auth-plugin
  deploy/Dockerfile
Due: deploy

update buildkit
  docker/Dockerfile
Due: docker

add the buildtag utility
  earthly/Dockerfile
  earthly/buildtag
Due: none

remove extra -- in build tag value
  earthly/buildtag
Due: none

update earthly
  earthly/Dockerfile
Due: none

configure cache.registry as insecure by default
  .gitlab-ci.yml
  earthly/Dockerfile
  earthly/earthly-entrypoint.sh
Due: docker, helm, deploy

configure cache.registry as insecure by default
  .gitlab-ci.yml
  earthly/Dockerfile
  earthly/buildkitd.toml
  earthly/earthly-entrypoint.sh
Due: docker, helm, deploy

update earthly to 0.6.23
  earthly/Dockerfile
Due: none

ci: Create an action that may be used to find out the build tag to use in our projects
  build-helpers/action.yml
  build-helpers/buildtag
Due: none

ci: Create an action that may be used to find out the build tag to use in our projects
  actions/buildtag/action.yml
  actions/buildtag/script.sh
  build-helpers/action.yml
  build-helpers/buildtag
Due: none

feat: Add a command to be reused in project to build and push helm charts
  helm/Earthfile
  helm/build
Due: helm

feat: Provide a default initialization composite to be reused accross jobs
  actions/init/action.yml
Due: none

fix: Don't start from the helmbuilder
  helm/Earthfile
Due: helm

feat: Provide a command to ease setting up the helm directory
  helm/Earthfile
Due: helm

feat!: Make the command naming more homogeneous
  helm/Earthfile
Due: helm

fix!: Put the helm dependency update inside the build script, because YAGNI
  helm/Earthfile
  helm/build
Due: helm

fix!: Back to having a command that does everything, because YAGNI
  helm/Earthfile
Due: helm

feat: Make sure no residual developer charts get into our way and produce non reproducible build
  helm/build
Due: helm

feat: Make the logic much simpler by using the given tag to patch the chart without doing much more black magic
  helm/build
Due: helm

feat: Ensure the ref slug is actually slugified
  actions/buildtag/action.yml
  actions/buildtag/script.sh
Due: none

fix: Fail early in case the environment variable is not set
  actions/buildtag/script.sh
Due: none

ci: Create an action that may be used to find out the build tag to use in our projects
  actions/buildtag/action.yml
  actions/buildtag/script.sh
Due: none
