Repository eniblock/build: changes, and which GitLab CI jobs are due for each by the changed paths.
All: docker, helm, deploy

docker:
  stage: publish
  script:
  - echo $CI_REGISTRY_PASSWORD | docker login -u $CI_REGISTRY_USER  --password-stdin $CI_REGISTRY
  - build $CI_REGISTRY_IMAGE/docker docker

helm:
  stage: publish
  script:
  - echo $CI_REGISTRY_PASSWORD | docker login -u $CI_REGISTRY_USER  --password-stdin $CI_REGISTRY
  - build $CI_REGISTRY_IMAGE/helm helm

deploy:
  stage: publish
  script:
  - echo $CI_REGISTRY_PASSWORD | docker login -u $CI_REGISTRY_USER  --password-stdin $CI_REGISTRY
  - build $CI_REGISTRY_IMAGE/deploy deploy

fix wrong path when displaying yaml content with lint errors
  helm/lint
Due: helm

update to earthly 0.7.23
  actions/setup/action.yml
Due: none

update earthly to 0.8.3
  actions/setup/action.yml
Due: none

COMMAND is now FUNCTION with earthly 0.8
  deploy/Earthfile
  helm/Earthfile
  terraform/Earthfile
Due: helm, deploy

update required earthly version to 0.8
  deploy/Earthfile
  helm/Earthfile
  terraform/Earthfile
Due: helm, deploy

Path conditions:
  docker: any of: .gitlab-ci.yml, docker/**/*, docker/*
  helm: any of: .gitlab-ci.yml, helm/**/*, helm/*
  deploy: any of: .gitlab-ci.yml, deploy/**/*, deploy/*
