Repository eniblock/build: changes, and which GitLab CI jobs are due for each by the changed paths.
All: docker, helm, deploy

.gitlab-ci.yml:

stages:
  - publish

image:
  name: $CI_REGISTRY_IMAGE/docker:1.5.0

docker:
  stage: publish
  script:
    - echo $CI_REGISTRY_PASSWORD | docker login -u $CI_REGISTRY_USER  --password-stdin $CI_REGISTRY
    - build $CI_REGISTRY_IMAGE/docker docker
  only:
    changes:
      - .gitlab-ci.yml
      - docker/**/*
      - docker/*

helm:
  stage: publish
  script:
    - echo $CI_REGISTRY_PASSWORD | docker login -u $CI_REGISTRY_USER  --password-stdin $CI_REGISTRY
    - build $CI_REGISTRY_IMAGE/helm helm
  only:
    changes:
      - .gitlab-ci.yml
      - helm/**/*
      - helm/*

deploy:
  stage: publish
  script:
    - echo $CI_REGISTRY_PASSWORD | docker login -u $CI_REGISTRY_USER  --password-stdin $CI_REGISTRY
    - build $CI_REGISTRY_IMAGE/deploy deploy
  only:
    changes:
      - .gitlab-ci.yml
      - deploy/**/*
      - deploy/*

add yq to the deploy tools
  deploy/Earthfile
Due: deploy

Revert "Revert "feat: Use a fixed version of earthly to avoid making to many calls to github in all the jobs that would fetch the latest version""
  actions/setup/action.yml
Due: none

update earthly to 0.6.29
  actions/setup/action.yml
Due: none

configure earthly default cache in the setup action
  actions/setup/action.yml
Due: none

use simple quote as in the examples
  actions/setup/action.yml
Due: none

let bash evaluate the expressions
  actions/setup/action.yml
Due: none

allow to change the fetch deps
  actions/setup/action.yml
Due: none

add a command to tag deployed images
  deploy/Earthfile
Due: deploy

fix missing COMMAND
  deploy/Earthfile
Due: deploy

use a simple docker pull/tag/push instead of buildx
  deploy/Earthfile
Due: deploy

pulling a docker image requires a docker deamon
  deploy/Earthfile
Due: deploy

go back to buildx
  deploy/Earthfile
Due: deploy

typo
  terraform/Earthfile
Due: none

feat: Create the workspace is needed
  terraform/Earthfile
Due: none

use google's crane to tag the deployed images
  deploy/Earthfile
Due: deploy

feat: Provide an alternative TAG_DEPLOYED that does not assume that all the images use the same tags
  deploy/Earthfile
Due: deploy

allow to get a non annotated version on a specific branch
  actions/buildtag/action.yml
  actions/buildtag/script.sh
  actions/setup/action.yml
Due: none

update to actions/checkout@v3
  actions/setup/action.yml
Due: none

Revert "update to actions/checkout@v3"
  actions/setup/action.yml
Due: none

Revert "Revert "update to actions/checkout@v3""
  actions/setup/action.yml
Due: none

fix misplaced parameter
  actions/buildtag/action.yml
Due: none

use updated earthly setup action
  actions/setup/action.yml
Due: none

feat: Merge buildtag into setup
  actions/buildtag/action.yml
  actions/setup/action.yml
  actions/setup/script.sh
Due: none

rename dockerhub_password to dockerhub_token
  deploy/Earthfile
Due: deploy

Revert "use updated earthly setup action"
  actions/setup/action.yml
Due: none

add age to the deploy helper
  deploy/Earthfile
Due: deploy

fix raw version logic
  actions/setup/script.sh
Due: none

add debug message
  actions/setup/script.sh
Due: none

fix typo when checking git ref
  actions/setup/script.sh
Due: none

only attempt to login if the dockerhub token is there
  actions/setup/action.yml
Due: none

fix wrong quotes
  actions/setup/action.yml
Due: none

don't push from earthly when the script is run by dependabot
  actions/setup/action.yml
Due: none

mark helm push as --push
  helm/Earthfile
Due: helm

update the readme
  README.md
Due: none

use our conf as the default yamllint conf
  helm/Earthfile
Due: helm

allow to reuse the cache from another job
  actions/setup/action.yml
Due: none

fix missing image tag
  actions/setup/action.yml
Due: none

fix extra else
  actions/setup/action.yml
Due: none

automatically select the helm dir that has the same name as the repository
  actions/setup/action.yml
Due: none
