Repository eniblock/build: changes, and which GitLab CI jobs are due for each by the changed paths.
All: docker, deploy

.gitlab-ci.yml:

stages:
  - publish

docker:
  stage: publish
  image: docker:stable
  services:
    - docker:dind
  before_script:
    - docker login -u $DOCKER_HUB_USER -p $DOCKER_HUB_PASSWORD
  script:
    - cd docker
    - docker pull tbxdev/build-docker || true
    - docker build --pull --cache-from tbxdev/build-docker -t tbxdev/build-docker .
    - docker push tbxdev/build-docker
  after_script:
    - docker logout
  only:
    changes:
      - .gitlab-ci.yml
      - docker/**/*
      - docker/*

deploy:
  stage: publish
  image: docker:stable
  services:
    - docker:dind
  before_script:
    - docker login -u $DOCKER_HUB_USER -p $DOCKER_HUB_PASSWORD
  script:
    - cd deploy
    - docker pull tbxdev/build-deploy || true
    - docker build --pull --cache-from tbxdev/build-deploy -t tbxdev/build-deploy .
    - docker push tbxdev/build-deploy
  after_script:
    - docker logout
  only:
    changes:
      - .gitlab-ci.yml
      - deploy/**/*
      - deploy/*

fix non executable terraform
  deploy/Dockerfile
Due: deploy

install kubectl in the deploy image
  deploy/Dockerfile
Due: deploy

switch to buildkit
  docker/Dockerfile
  docker/docker
  docker/docker-compose-build-push
  docker/docker-compose-no-docker-service.patch
  docker/entry-point.sh
Due: docker

add a default BUILDKITD_FLAGS
  docker/Dockerfile
Due: docker

fix image build
  docker/Dockerfile
Due: docker

only install docker-cli
  docker/Dockerfile
Due: docker

switch back to non privileged user
  docker/Dockerfile
Due: docker

fix broken kubectl
  deploy/Dockerfile
Due: deploy

add kbld in the deploy image
  deploy/Dockerfile
Due: deploy

add a kbld post process wrapper to be used with helm
  deploy/Dockerfile
  deploy/kbldpp
Due: deploy

add sudo to the docker image
  docker/Dockerfile
Due: docker

add helm build image
  .gitlab-ci.yml
  helm/Dockerfile
Due: docker, deploy

export HELM_EXPERIMENTAL_OCI
  helm/Dockerfile
Due: none

fix only changes check
  .gitlab-ci.yml
Due: docker, deploy

enable OCI feature in helm
  deploy/Dockerfile
Due: deploy

add yq to the docker image
  docker/Dockerfile
Due: docker

add a command to build the docker image with the same tag as the helm chart version
  docker/Dockerfile
  docker/build_with_helm_tag
Due: docker

better error message
  docker/build_with_helm_tag
Due: docker

fix sh syntax and shebang
  docker/build_with_helm_tag
Due: docker

fix default values
  docker/build_with_helm_tag
Due: docker

add a helm build file
  docker/build_with_helm_tag
  helm/Dockerfile
  helm/build
Due: docker

don't use git
  helm/build
Due: none

add docker build script
  docker/build
Due: docker

Add the build script as well as the build_with_helm_tag
  docker/Dockerfile
Due: docker

use the image version with the pipeline number in the helm chart with the pipeline number
  helm/build
Due: none

add yq in the deploy image
  deploy/Dockerfile
Due: deploy

always use the pipeline version in the appVersion
  helm/build
Due: none

add a build with pipeline id
  .gitignore
  docker/build_with_pipeline_id
Due: docker

fix missing file
  docker/Dockerfile
Due: docker

add an option to disable the cache import
  docker/Dockerfile
  docker/build
  docker/build_with_helm_tag
  docker/build_with_pipeline_id
Due: docker

allow to pass extra parameters to buildkit
  docker/Dockerfile
  docker/build
  docker/build_with_helm_tag
  docker/build_with_pipeline_id
Due: docker

assume the dockerfile is in the context dir by default
  docker/build
  docker/build_with_helm_tag
  docker/build_with_pipeline_id
Due: docker

show what is done in the build scripts
  docker/build
  docker/build_with_helm_tag
  docker/build_with_pipeline_id
Due: docker

quote the cache option
  docker/build
  docker/build_with_helm_tag
  docker/build_with_pipeline_id
Due: docker

add the option to patch the values
  helm/build
Due: none

configure gitlab ci token
  docker/build
  docker/build_with_helm_tag
  docker/build_with_pipeline_id
Due: docker

fix extra options
  docker/build
  docker/build_with_helm_tag
  docker/build_with_pipeline_id
Due: docker

don't show internal build commands
  docker/build
  docker/build_with_helm_tag
  docker/build_with_pipeline_id
Due: docker

use the docker image from this project to build the docker images
  .gitlab-ci.yml
Due: docker, deploy
