Repository eniblock/build: changes, and which GitLab CI jobs are due for each by the changed paths.
All: docker, helm, deploy

.gitlab-ci.yml:

stages:
  - publish

image:
  name: $CI_REGISTRY_IMAGE/docker:1.5.0

docker:
  stage: publish
  script:
    - echo $CI_REGISTRY_PASSWORD | docker login -u $CI_REGISTRY_USER  --password-stdin $CI_REGISTRY
    - build $CI_REGISTRY_IMAGE/docker docker
  only:
    changes:
      - .gitlab-ci.yml
      - docker/**/*
      - docker/*

helm:
  stage: publish
  script:
    - echo $CI_REGISTRY_PASSWORD | docker login -u $CI_REGISTRY_USER  --password-stdin $CI_REGISTRY
    - build $CI_REGISTRY_IMAGE/helm helm
  only:
    changes:
      - .gitlab-ci.yml
      - helm/**/*
      - helm/*

deploy:
  stage: publish
  script:
    - echo $CI_REGISTRY_PASSWORD | docker login -u $CI_REGISTRY_USER  --password-stdin $CI_REGISTRY
    - build $CI_REGISTRY_IMAGE/deploy deploy
  only:
    changes:
      - .gitlab-ci.yml
      - deploy/**/*
      - deploy/*

fix: Fail early in case the environment variable is not set
  actions/buildtag/script.sh
Due: none

feat: Add a command to be reused in project to build and push helm charts
  helm/Earthfile
  helm/build
Due: helm

feat: Make sure no residual developer charts get into our way and produce non reproducible build
  helm/build
Due: helm

fix: Don't start from the helmbuilder
  helm/Earthfile
Due: helm

feat: Make the logic much simpler by using the given tag to patch the chart without doing much more black magic
  helm/build
Due: helm

feat!: Make the command naming more homogeneous
  helm/Earthfile
Due: helm

fix!: Back to having a command that does everything, because YAGNI
  helm/Earthfile
Due: helm

fix!: Put the helm dependency update inside the build script, because YAGNI
  helm/Earthfile
  helm/build
Due: helm

feat: Provide a command to ease setting up the helm directory
  helm/Earthfile
Due: helm

use eniblock as default docker user name
  actions/init/action.yml
Due: none

rename init in setup
  actions/setup/action.yml
Due: none

add terraform in earthly
  terraform/Earthfile
Due: none

fix setup name
  actions/setup/action.yml
Due: none

terraform PLAN and APPLY commands
  terraform/Earthfile
Due: none

refactor terraform file for more flexibility
  terraform/Earthfile
Due: none

add the deploy earthly helper
  deploy/Earthfile
Due: deploy

fix missing --password-stdin
  deploy/Earthfile
Due: deploy

add sops
  deploy/Earthfile
Due: deploy

add a workdir
  deploy/Earthfile
Due: deploy

disable earthly analytics
  actions/setup/action.yml
Due: none

fix missing shell
  actions/setup/action.yml
Due: none

feat(helm): Add the LINT command to ease running it in projects
  helm/Earthfile
Due: helm

feat: Make better use of the cache when downloading the dependencies
  helm/Earthfile
Due: helm

fix(helm): Copy the configuration files in /etc, where they are expected
  helm/Earthfile
Due: helm

make registry login optional
  helm/Earthfile
Due: helm

allow to lint other env than dev
  helm/Earthfile
Due: helm

don't cache the lint result
  helm/Earthfile
Due: helm

rename PUBLISH_HELM in PUBLISH
  helm/Earthfile
Due: helm

feat: Make earthly work with the hetzner cache registry
  actions/setup/action.yml
Due: none

fix: Use the non deprecated API
  actions/buildtag/action.yml
Due: none

feat: Export the common environment variables so that we don't have to specify them everywhere anymore
  actions/setup/action.yml
Due: none

feat: Use a fixed version of earthly to avoid making to many calls to github in all the jobs that would fetch the latest version
  actions/setup/action.yml
Due: none

Revert "feat: Use a fixed version of earthly to avoid making to many calls to github in all the jobs that would fetch the latest version"
  actions/setup/action.yml
Due: none

fix: Don't let underscore character go in the final slug
  actions/buildtag/script.sh
Due: none

fix: Use latest version of buildtag
  actions/setup/action.yml
Due: none

refactor the helm commands
  helm/Earthfile
  helm/build
Due: helm

optionally login during the update
  helm/Earthfile
Due: helm

update helm
  helm/Earthfile
Due: helm

allow to cache linter result
  helm/Earthfile
Due: helm
