Repository eniblock/build: changes, and which GitLab CI jobs are due for each by the changed paths.
All: docker, helm, deploy

docker:
  stage: publish
  script:
  - echo $CI_REGISTRY_PASSWORD | docker login -u $CI_REGISTRY_USER  --password-stdin $CI_REGISTRY
  - build $CI_REGISTRY_IMAGE/docker docker

helm:
  stage: publish
  script:
  - echo $CI_REGISTRY_PASSWORD | docker login -u $CI_REGISTRY_USER  --password-stdin $CI_REGISTRY
  - build $CI_REGISTRY_IMAGE/helm helm

deploy:
  stage: publish
  script:
  - echo $CI_REGISTRY_PASSWORD | docker login -u $CI_REGISTRY_USER  --password-stdin $CI_REGISTRY
  - build $CI_REGISTRY_IMAGE/deploy deploy

fix if syntax
  actions/setup/action.yml
Due: none

use eniblock's dockerhub-login action
  actions/setup/action.yml
Due: none

allow to pass the dockerhub token through the env var
  actions/setup/action.yml
Due: none

fix login action
  actions/setup/action.yml
Due: none

export the computed tag in the env vars
  actions/setup/action.yml
Due: none

allow to pass the helm dir in the env var
  actions/setup/action.yml
Due: none

fix GITHUB_REF_NAME_SLUG computation when it contains quote(s)
  actions/setup/action.yml
Due: none

test the earthly setup that don't call the github api
  actions/setup/action.yml
Due: none

use crane image copied to the eniblock org on dockerhub
  deploy/Earthfile
Due: deploy

update earthly/actions-setup to 1.0.4
  actions/setup/action.yml
Due: none

don't use the v in the version
  actions/setup/action.yml
Due: none

feature: split the generated files
  helm/Earthfile
  helm/kube-linter.yaml
  helm/lint
  helm/split-yaml-docs
Due: helm

don't generate any local output by default
  actions/setup/action.yml
Due: none

update earthly to 0.7.4
  actions/setup/action.yml
Due: none

use our own copy of cloud-sdk
  terraform/Earthfile
Due: none

get kubectl from a docker image
  deploy/Earthfile
Due: deploy

update earthly to 0.7.5
  actions/setup/action.yml
Due: none

feat: Use an environment variable (KUBEVAL_ARGS) to pass additional arguments to the kubeval command
  helm/lint
Due: helm

ENS-495 add the last git hash (7 first characters)
  actions/setup/script.sh
Due: none

ENS-495 revert to fix the pipeline: docker save image failed because the sign + is not valid for docker -> invalid reference format
  actions/setup/script.sh
Due: none

ENS-495 remove commit ref slug (name of the git branch) in the version
  actions/setup/script.sh
Due: none

update earthly to 0.7.15
  actions/setup/action.yml
Due: none

limit earthly parallelism to 4
  actions/setup/action.yml
Due: none

don't run earthly in strict mode
  actions/setup/action.yml
Due: none

fix: kube-linter context was restricted to the current directory
  helm/Earthfile
  helm/lint
  helm/split-yaml-docs
Due: helm

fix non failing lint in case of failing check
  helm/lint
Due: helm

Revert "limit earthly parallelism to 4"
  actions/setup/action.yml
Due: none

install a prebuilt ruamel.yaml package
  helm/Earthfile
Due: helm

restore the previous tag behavior by default
  actions/setup/script.sh
Due: none

fix unbound variable
  actions/setup/script.sh
Due: none

note for later: don't trust copilot that much!
  actions/setup/script.sh
Due: none

add the TAG_BUILD_PREFIX to customize the build prefix string
  actions/setup/script.sh
Due: none

update earthly to 0.7.21
  actions/setup/action.yml
Due: none

use DEFAULT_EARTHLY_CACHE env var to configure the default earthly cache
  actions/setup/action.yml
Due: none

add support to run extra commands
  actions/setup/action.yml
Due: none

fix wrong indentation
  actions/setup/action.yml
Due: none

fix multiline extra commands
  actions/setup/action.yml
Due: none

preserve quotes when copying yaml files
  helm/split-yaml-docs
Due: helm

Path conditions:
  docker: any of: .gitlab-ci.yml, docker/**/*, docker/*
  helm: any of: .gitlab-ci.yml, helm/**/*, helm/*
  deploy: any of: .gitlab-ci.yml, deploy/**/*, deploy/*
